*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}


#menu{
    margin-bottom: 90px;
}
#menu h2, #menu p{
    text-align: center;
    line-height: 1.8em;
}

#menu h2{
    letter-spacing: 5px;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 0;
}



.all-boxs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.all-boxs .box {
    width:400px;
    margin-bottom: 40px;
    position: relative;
    min-height: 300px;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0 1px 9px #a4a3a3; ;
}
.all-boxs .box:last-of-type {
    margin-right:0
}
.all-boxs .box .image img, .all-boxs .box .images img  {
    width: 100%;
    height: 100%;
    transition: .3s all ease-in-out;
}




.all-boxs .box .images{
    width: 100%;
    height: 230px;
}

.all-boxs .box .contents{
    text-align: center;
    overflow: hidden;
}

.all-boxs .box .contents p{
    height: 0;
    overflow: hidden;
    padding: 0 30px;
    transition: .5s opacity , .5s height ease-in-out;
}

.all-boxs .box .contents button{
    background-color: #000;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;

}



